.is-avatar {
    border-radius: 50%;
    border: solid 1px white;
    margin: 2px;
}

.has-downward-hover-movement {
    width: 100%;
    position: relative;
    top: 0;
    transition-timing-function: ease-in-out;
    transition-duration: .2s;
    transition-property: all;
}

.has-downward-hover-movement:hover {
    top: 20px;
}

.has-padding-10 {
    padding: 10px;
}

.is-500-tall {
    height: 500px;
}

.is-bottom-left {
    position: relative;
    bottom: 10px;
    left: 10px;
}

.has-250-width {
  width: 250px;
}

.is-paragraph-floated-left {
  float: left;
  padding: 10px;
  padding-right: 20px;
}

.is-paragraph-floated-right {
  float: right;
  padding: 10px;
  padding-left: 20px;
}

.is-course-content img {
    text-align: center;
}